<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirportCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AirportCheck.Properties.Settings>
            <setting name="Temperature" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="AirportCode" serializeAs="String">
                <value>gru</value>
            </setting>
            <setting name="Wind" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="Condition" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="Arrivals" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="Departures" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </AirportCheck.Properties.Settings>
    </userSettings>
</configuration>